/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

.dark-primary    { background: #C2185B; }
.default-primary { background: #E91E63; }
.light-primary   { background: #F8BBD0; }
.text-primary    { color: #FFFFFF; }
.accent          { background: #03A9F4; border-color: #03A9F4; color: #fff; }
.primary-text    { color: #212121; }
.secondary-text  { color: #727272; }
.divider         { border-color: #B6B6B6; }

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #212121;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-weight: 400;
  font-size: 32px;
}
h2 {
  font-weight: 400;
  font-size: 28px;
}
h3 {
  font-weight: 400;
  font-size: 20px;
}
h4 {
  font-weight: 400;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

form button {
  margin: 5px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  
  font-size: 14px;
  border: 1px solid #C2185B;
  border-radius: 4px;
  background-color: #C2185B;
  color: #fff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

button {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  box-shadow: 0 1px 10px rgb(193, 23, 90);
}

.btn-block {
  width: 100%;
}

.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  box-shadow: 0 1px 10px #3b5998;
  color: #fff;
}

.accent2 {
  background-color: gold;
  border-color: gold;
  box-shadow: 0 1px 10px goldenrod;
  color: #212121;
}

#map {
  width: 100vw;
  height: 100vh;
  
  z-index: 0;
}

#login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#login-form {
  width: 400px;
  min-height: 200px;
  background-color: #E91E63;
  color: #fff;
  border: 1px solid rgb(193, 23, 90);
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(193, 23, 90);
  text-align: center;
  padding: 20px;
  margin: 10px;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(247, 186, 207, 0.4);
  z-index: 10;
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#users {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;

  width: 150px;

  background-color: #E91E63;
  color: #fff;
  border: 1px solid rgb(193, 23, 90);
  border-radius: 0 0 0 5px;
  box-shadow: 0 3px 10px rgb(193, 23, 90);
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 13px;
}

#users ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#users ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}